.form_reg {
    max-width: 500px;
    width: 500px;
    margin: 0px auto;
    padding-bottom: 20px;
    padding-top: 30px;
}

.button_auth {
    width: 300px;
    margin-left: 20%;
    background-color: #000;
}

#comments-slider {
    margin: 20px auto;
    width: 100%;
    padding: 1em;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 1em;
    color:#FFC345;
   }
   .quote {
    background: #3E3831;
    padding: 15px 20px 5px 15px;
    border-radius: 5px;
    margin-bottom: 30px;
   }
   .quote:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 18px 0 18px;
    border-color: #3E3831 transparent transparent transparent;
    position: relative;
    top: 37px;
    left: 20px;
   }
   .persona {
    margin-left: 25px;
    margin-bottom: 80px;
   }
   .persona .photo {
    background-color: #ccc;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
   }
   .persona p {
    position: relative;
    top: 5px;
    text-transform: uppercase;
   }
   .persona p:nth-child(2) {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
   }
   .persona p:nth-child(3) {
    font-size: 14px;
    color: #777;
   }