.form_reg {
    max-width: 500px;
    width: 500px;
    margin: 0px auto;
    padding-bottom: 20px;
    padding-top: 30px;
}

.button_auth {
    width: 300px;
    margin-left: 20%;
    background-color: #000;
}
   .foto_slider {
 max-height: 600px;
    background-size: cover;
   }
